{%extends "wiki/main.html"%}

{%block styles%}
  {{block.super}}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "wiki/css/jquery-ui.min.css" %}" media="screen" title="no title" charset="utf-8">
    <link href="{% static "wiki/css/cover.css" %}" rel="stylesheet">
  <script src="{% static "wiki/js/jquery-ui.min.js" %}" charset="utf-8"></script>
  <style media="screen">
  html, body, .container-table {
    height: 100%;
  }
  .container-table {
    display: table;
  }
  .vertical-center-row {
    display: table-cell;
    vertical-align: middle;
  }
  </style>



{%endblock%}

{%block body%}
<!-- <input type="text" name="name" id="query" value="" placeholder="Enter your query here"> -->
<!-- <button type="button" class="btn btn-primary" id="search">Search</button> -->
<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand"></h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/admin">Admin Site</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
        </div>
      </div>

  {% load staticfiles %}
  <div class="row vertical-center-row">
    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-lg-8 col-md-8 col-sm-10 col-xs-12">
      <!-- <img src="{% static "wiki/img/logo.png" %}" alt="" align="middle"/> -->
      <h4>Local</h4>
      <h1 style="margin-top:10px;">Wikipedia</h1>
      <div class="input-group">
        <input type="text" name="name" id="query" value="" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" id="search" type="button"><span class="glyphicon glyphicon-search"></span>Search</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->

<!-- <div class="mastfoot">
  <div class="inner">
    <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  </div>
</div> -->

</div>

</div>

</div>
{%endblock%}

{%block scripts%}
<script type="text/javascript">
  $("#query").autocomplete({
    source: function( request, response ) {
        $.ajax({
            dataType: "json",
            type : 'Get',
            url: 's/',
            data: {'q':$("#query").val()},
            success: function(data) {
              console.log(data);
              response(data['results']);
            },
            error: function(data) {
                $('input.suggest-user').removeClass('ui-autocomplete-loading');
            }
        });
    },
    select: function(event, ui){
      window.location.href = window.location + "wiki/" + String(ui.item.value).replace(" ","_");
    },
  });
  $("#search").click(function(){
    console.log(window.location);
    window.location.href = window.location + "results/?q=" + $("#query").val()
  });
</script>
{%endblock%}
